$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#659DBD;
$hover-menu:#FF0700;
$text-color:white;

.aboutme {
    display: flex;
    flex-direction: row;  
    padding: 30px 0 40px;
  }
  
  .aboutme p {
    margin: 0 100px;
  }
  
  
  
  @media only screen and (max-width: 1100px) {
    .aboutme {
      display: flex;
      flex-direction: column-reverse;
    }

    .aboutme__text p { 
        margin: 0 20px;
        padding-bottom: 20px;
        line-height: 1.2;
        word-break: break-all;
    }
  }
  