$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#659DBD;
$hover-menu:#FF0700;
$text-color:white;


  
  .about__box {
    margin: auto;
  }

  .about__imgbox {
    // background-image: url(/img/10.webp);		
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: contain;
    // background-position-x: 8%; 
    background-color: #0C0032;
    display: inline-block;
    padding:300px;
  }

  .aboutme__text {
    max-width: 500px;
    height: 500px;
    display: inline-block;
    margin:auto 80px;
    text-align: right;

  }
  
  
  
  @media only screen and (max-width: 1100px) {
   

    .aboutme__text p { 
        margin: 0 20px;
        padding-bottom: 20px;
        line-height: 1.2;
        word-break: break-all;
    }
  }
  