$first-color: black;						
$text-color:white;

.about-me {
  margin: auto 95px;
  padding: 30px 0 0;
  &__box {
    button {
      position: relative;
      top: 10px;
      float: left;
      margin-right: 20px;
      cursor: pointer;
      font-weight: bold;
      font-size: 2.8rem;
      font-family: inherit;
      background-color: $first-color;
      color: $text-color;
      &:hover {
        color: lightgray;
      }
    } 

    &__img {
      display: grid;
      padding: 10px;
      img {
        padding: 10px; 
        max-height: 290px;
        width: 230px;
        object-fit: cover;
        border: $text-color solid 5px;
      }

      .img1 {
        grid-column: 1;
        grid-row: 1; 
      }

      .img2 {
        grid-column: 2;
        grid-row: 1; 
      }

      .art1 {
        grid-column: 3;
        grid-row: 1; 
      }

      .art2 {
        grid-column: 4;
        grid-row: 1; 
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
   
  .about-me {
    &__box {
      &__img {
        img {
          max-height: 250px;
        }

        .img1 {
          grid-column: 1;
          grid-row: 1; 
        }

        .img2 {
          grid-column: 2;
          grid-row: 1; 
        }

        .art1 {
          grid-column: 1;
          grid-row: 2; 
        }

        .art2 {
          grid-column: 2;
          grid-row: 2; 
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
   
  .about-me {
    display: flex;
    flex-direction: column;
    &__box {
      order: 1;
      margin: auto;
      button {
        align-items: center;
        position: static;
        float: none;
        margin-top: 20px;
        font-size: 2.3rem;
      } 

      &__img {
        img {
          max-height: 230px;
          width: auto;
        }

        .img1 {
          grid-column: 1;
          grid-row: 1; 
        }

        .img2 {
          grid-column: 2;
          grid-row: 1; 
        }

        .art1 {
          grid-column: 3;
          grid-row: 1; 
        }

        .art2 {
          grid-column: 4;
          grid-row: 1; 
        }
      }
    }
  }
}