$first-color: #0C0032;					
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#659DBD;
$hover-menu:#FF0700;
$text-color:white;

.home {
  &__name {
    background-image: url(/img/13.webp);		
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-position-y: 1%;
    background-size: 100%;
    padding: 300px 0;
    color: white;
    margin: auto 95px;
    li {
      background-color: black;
      position: relative;
      width: 50%;
      top: 300px;
      font-weight: bold;
      text-align: center;
      padding-left: 20px;
      letter-spacing: 4px; 
    }
    
    li:nth-child(1) {
        font-size: 50px;
        border-top-right-radius: 20px;
        margin-bottom: -5px;
        
    }
  
    li:nth-child(2) {
          font-size: 30px;
          padding-bottom: 10px;
        }  
    }

    h1 {
      padding: 30px 0;
    }
  
    &__slider {
      margin: auto;
      text-align: center;
      background-color: black;
    
  
  img{
    border-radius: 20px;
    border: white solid 5px;

  }

  .alice-carousel__stage-item.__target, .alice-carousel__stage-item{
    margin-top: 20px;
  }

  .alice-carousel__dots {
    margin: 0;
    padding: 10px;
  }

    .alice-carousel__dots-item:not(.custom) {
      height: 15px;
      width: 15px;
      background-color: gray;
      &:hover {
        background-color: white;
      }
    }
    .alice-carousel__dots-item:not(.custom).__active {
      background-color: white;

    }


  }
}
  @media only screen and (max-width: 1400px) {
    .home__name {
      p:nth-child(1) {   
    p:nth-child(2) {
      margin: 10px auto auto;
  }
  
}
  }
  }

  
 
  


  @media only screen and (max-width: 1000px) {
    .home__name {
      li:nth-child(1) {   
        padding-top:40px;
   }
      li:nth-child(2) {
          animation: typing 2s steps(100, end) both;
        a {
          font-size: 45px;
          letter-spacing: 1px; 
      }
    }  
  }
  }
  
  
  @media only screen and (max-width: 600px) {
    .home {
      margin: -17px auto 20px;
    }
    .home__name {
      li:nth-child(1) {   
        padding-top:10px;
   }
      li:nth-child(2) {
          animation: typing 2s steps(100, end) both;
        a {
          font-size: 40px;
      }
    }
  }
  }
  