$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#659DBD;
$hover-menu:#FF0700;
$text-color:white;

.home {
    background-image: url(/img/13.webp);		
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-position-y:1%;
    background-size: 90%;
    padding: 300px 0;
    margin:auto 95px;
  }
  
  .home__name {
    color: white;
    width: 49%; 
    background-color: black;
    border-top-right-radius: 20px;
    position: relative;
    top: 300px;
    p:nth-child(1) {
        letter-spacing: 2px; 
        font-size: 60px;
        text-align: center;
        margin-bottom: -20px;
        a {
        color: $text-color;
        font-size: 60px;
        letter-spacing: 5px; 
        color: #edf5e1;
      &:hover {
        color: lightcoral;
        filter: drop-shadow(1px 1px 10px red);
      }
    }
  }
    p:nth-child(2) {
          letter-spacing: 2px; 
          font-size: 40px;
          text-align: center;
          padding-bottom: 10px;

        }  
    }
    
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  .sliderimg{
    margin-top:30px;  
    border-radius: 20px;
  }

  .slider {
    margin: auto;
    text-align: center;
  }
  
  @media only screen and (max-width: 1400px) {
    .home__name {
      p:nth-child(1) {   
    p:nth-child(2) {
      margin: 10px auto auto;
  }
  
}
  }
  }

  .home__socialmedia {
    background: black;
    border-radius: 20px;
    z-index: 9;
    margin: auto;
    position: fixed;
    top:40%;
    left:96%;
    a {
      display: block;
      color: white;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 15px;
      &:hover,:active {
        color:red;
      }
    }
  }
 
  


  @media only screen and (max-width: 1000px) {
    .home__name {
      li:nth-child(1) {   
        padding-top:40px;
   }
      li:nth-child(2) {
          animation: typing 2s steps(100, end) both;
        a {
          font-size: 45px;
          letter-spacing: 1px; 
      }
    }  
  }
  }
  
  
  @media only screen and (max-width: 600px) {
    .home {
      margin: -17px auto 20px;
    }
    .home__name {
      li:nth-child(1) {   
        padding-top:10px;
   }
      li:nth-child(2) {
          animation: typing 2s steps(100, end) both;
        a {
          font-size: 40px;
      }
    }
  }
  }
  