$first-color: black;					
$text-color:white;

.home {
    margin: auto 95px;
    ul {
        padding: 300px 0;
        background-image: url(/img/Modeling/13.webp);		
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-position-y: -10%;
        background-size: 100%;
        color: $text-color;
        li:nth-child(1),
        li:nth-child(2) {
            position: relative;
            top: 300px;
            padding: 0 20px;
            width: 50%;
            letter-spacing: 4px; 
            text-align: center;
            font-weight: bold;
            background-color: $first-color;
        }
        
        li:nth-child(1) {
            margin-bottom: -5px; 
            border-top-right-radius: 20px;
            font-size: 2.813rem; 
        }
        
        li:nth-child(2) {
            padding-bottom: 10px;
            font-size: 1.875rem;
        }  
    }

    h2 {
        padding: 50px 0;
        text-align: center;
        font-size: 2.188rem;
    }
}

@media only screen and (max-width: 1500px) {

    .home ul {
        padding: 250px 0;
        background-size: cover;
        li:nth-child(1),
        li:nth-child(2) {
            top: 250px; 
            width: 61%;
        }

        li:nth-child(1) {
            font-size: 2.5rem;
        }
    
        li:nth-child(2) {
            font-size: 1.875rem; 
        }     
    }
}

@media only screen and (max-width: 1300px) {

    .home {
        ul {
            background-position-x: 90%;
            li:nth-child(1) {
                font-size: 2.2rem;
            }
        
            li:nth-child(2) {
                font-size: 1.6rem; 
            }    
        }

        h2 {
            padding: 35px 0;
            font-size: 1.875rem;
        }
    }
}

@media only screen and (max-width: 1000px) {

    .home {
        ul {
            background-position-x: 85%;
            li:nth-child(1),
            li:nth-child(2) {
                width: 79%;
            }

            li:nth-child(1) {
                font-size: 1.9rem;
            }  
        }

        h2 {
            padding: 30px 0;
        }
    }
}

@media only screen and (max-width: 700px) {

    .home {
        margin: auto 10px; 
        ul {
            padding: 180px 0;
            background-size: 1000px;  
            background-attachment: scroll;
            background-position-x: 75%;
            li:nth-child(1),
            li:nth-child(2) {
                top: 180px; 
                width: 72%;
            }

            li:nth-child(1) {
                font-size: 1.5rem;
            }
        
            li:nth-child(2) {
                font-size: 1.3rem; 
            }    
        }

        h2 {
            padding: 25px 0;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 500px) {

    .home {
        margin: auto; 
        ul {
            background-position-x: 75%;
            li:nth-child(1),
            li:nth-child(2) {
                width: 100%;
            }

            li:nth-child(1) {
                border-top-right-radius: 0;
                font-size: 1.35rem;
            }
        
            li:nth-child(2) {
                padding-bottom: 5px;
                font-size: 1.1rem; 
            }    
        }

        h2 {
            padding: 20px 0;
            font-size: 1.25rem;
        }
    }
}
   
@media only screen and (max-width: 330px) {

    .home ul li:nth-child(1) {
        font-size: 1.2rem;
    }
}