$first-color: #0C0032;						
$second-color: #464866;		
$third-color: #211A36;	
$contact-form: #edf5e1;
$main-font: Georgia, 'Times New Roman', Times, serif;
$hover:#659DBD;
$hover-menu:#FF0700;
$text-color:white;

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0 40px;
  &__form {
      width: 37%;
      font-size: 22px;
      display: block;
  }
}
  
input[type=text], textarea {
  display: flex;
  flex-direction: column;
  background-color:darkgray;
  width: 100%;
  padding: 12px;
  border: 2px solid $hover ;
  border-radius: 15px;
  margin: 6px 0 16px;
  font-size: 22px;
  font-family: $main-font;
  resize: vertical;
  outline: none;
  &:hover {
      border: 2px solid $hover-menu;
  }
}
  
input[type=text]:required:focus:invalid {
  border: 2px solid $hover-menu;
}
  
input[type=submit] {
  background-color: $hover-menu;
  color: $text-color;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid $second-color;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  font-family: $main-font;
  width: 30%;
  position: relative;
  left: 35%;
  &:hover {
      background-color: lightcoral;
      filter: drop-shadow(1px 1px 5px   $hover-menu);
      &:active {
          color:lightskyblue;
      }
  }
}
  
form > label {
  font-weight: bold;
}
  
  @media only screen and (max-width: 1100px) {
    .contact {
      flex-direction: column;
    }
  
    .contact__text {
      padding: 20px;
   }
  
  .contact__text__email {
    top: 18px;
  }
  
  .contact__text__address {
    top: 40px;
  }   
  
    .contact__form {
      width: 90%;
      margin: auto;
      padding-bottom: 20px;
    }
    
    .contact__verticalline {
      display: none;
    }
  
    .contact__horizontal {
      display: inline-block;
      border: 2px solid white;
      border-radius: 100%;
      width: 70%;
      margin: 20px auto;
    }
    input[type=submit] {
      background-color: $hover-menu;
      color: $text-color;
      padding: 10px 10px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      font-family: $main-font;
      width: 30%;
      position: relative;
      left: 35%;
      text-align: center;
    }
  }