$first-color: black;						
$text-color:white;
$main-font: Georgia, 'Times New Roman', Times, serif;

.contact {
  padding: 30px 0 40px;
  &-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    form {
      display: block;
      margin-right: 80px;
      width: 30%;
      font-size: 1.375rem;
      input[type=text], textarea {
        display: flex;
        flex-direction: column;
        margin: 6px 0 16px;
        padding: 12px;
        width: 100%;
        resize: vertical;
        outline: none;
        border-radius: 15px;
        font-size: 1.375rem;
        font-family: $main-font;
        background-color:$first-color;
        color: $text-color;
      }

      input[type=text]:required:focus:invalid {
        border: 2px solid red;
      }
        
      input[type=submit] {
        padding: 10px;
        width: 30%;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        font-weight: bold;
        font-size: 1.25rem;
        font-family: $main-font;
        background-color: $first-color;
        color: $text-color;
        &:hover {
          background-color:lightgray;
          color: $first-color;  
        }
      }

      ::placeholder {
        color: $text-color;
      }
      
      .contact-submit {
        text-align: center;
      }
    }

    img {
      margin-top: 5px;
      max-height: 465px;
      border-radius: 10px;
    }
  }

  &-blog {
    text-align: center;
    h2 {
      display: inline-block;
      margin-top: 30px;
      color: $first-color;
      &:hover {
        color: lightgray;
      }

      i {
        padding-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {

  .contact {
    form{
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .contact {
    &-box {
      flex-direction: column;
      form {
        margin: auto;
        padding-bottom: 20px;
        width: 70%;
      }

      img {
        margin: auto;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
  
    &-blog {
      h2 {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .contact {
    &-box {
      flex-direction: column;
      form{
        width: 90%;
      }
    }
  }
}