$first-color: black;						
$text-color:white;

nav {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100vw;
  text-align: center;
  background-color: $first-color;
  .nav__logo {
    padding-top: 6px;
    background-color: $text-color;
    img {
      height: 4em;
      padding: 0 8px 0 7px;
    } 
  }

  button {
    position: relative;
    right: 56px;
    margin: auto;
    z-index: 2;
    cursor: pointer;
    border: none;
    font-size: 3rem;
    background: transparent;
    color: $text-color;
  }

  ul {
    position: fixed;
    height: 15%;
    width: 0;
    z-index: 1;
    overflow: hidden;
    background: $first-color;
  }

  ul.showMenu {
    width: 100%;
  }

  li {
    display: inline-block;
    a {
      display: inline-block;
      margin: 80px 30px;
      width: 90%;
      text-transform: uppercase;
      font-weight: bold;
      color: $text-color;
      &:hover {
          transform:scale(1.2); 
          -webkit-transform:scale(1.2);
          color: lightgray;
      }
    }
  }
}

