$first-color: black;					
$text-color:white;

.sliding-images {
    text-align: center;
    background-color: $first-color;
    img {
        margin-top: 20px;
        border: $text-color solid 5px;
        border-radius: 20px;
    }
    
    .alice-carousel__dots {
        margin: 0;
        padding: 10px;
    }

    .alice-carousel__dots-item:not(.custom) {
        height: 15px;
        width: 15px;
        background-color: gray;
        &:hover {
            background-color: $text-color;
        }
    }

    .alice-carousel__dots-item:not(.custom).__active {
        background-color: $text-color;
    }
}

@media only screen and (max-width: 1300px) {

    .sliding-images img {
        max-height: 500px;
    }
}

@media only screen and (max-width: 700px) {

    .sliding-images {
        margin: auto 10px;
        img {
            max-height: 400px;
        }

        .alice-carousel__dots-item:not(.custom) {
            height: 10px;
            width: 10px;
        }
    }
}