@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'); // font
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap'); // font

$first-color: black;					
$text-color:white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 100%;
}

body {
    font-size: 1.25rem;
    overflow-y: scroll;
}
 
html, 
body {
    height: 100vh;
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    background: $text-color;
}

h1 {
    padding: 30px 0 20px;
}

h1, 
h2 {
    text-align: center;
    font-family: 'Dancing Script', 'Times New Roman', Times, serif;
    font-size: 2.8rem;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

@media screen and (max-width: 1300px) {

    h1,
    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1000px) {

    h1 {
        padding: 30px 0 15px;
    }

    h1,
    h2 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 700px) {

    html, 
    body {
        scroll-padding-top: 75px;
    }

    h1 {
        padding: 20px 0 10px;
    }
}
      
@media screen and (max-width: 500px) {

    html, 
    body {
        scroll-padding-top: 60px;
    }

    h1,
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}